{
  parser: 'babel-eslint',
  plugins: [
    'flowtype',
    'jsx-a11y',
    'react',
  ],
  extends: [
    'airbnb',
  ],
  globals: {
    __DEBUG__: true
  },
  env: {
    browser: true,
    node: true,
    mocha: true,
    es6: true,
  },
  parserOptions: {
    ecmaVersion: 6,
    sourceType: 'module',
    ecmaFeatures: {
      jsx: true,
      generators: true,
      experimentalObjectRestSpread: true
    }
  },
  rules: {
    react/require-extension: 0,
    react/jsx-filename-extension: 0,
    react/forbid-prop-types: 0,
    react/jsx-wrap-multilines: 0,
    react/require-default-props: 0,
    strict: 0,
    func-names: 0,
    no-class-assign: 0,
    arrow-body-style: ["error", "always"],
  },
}
